.functionalButton
  color: #000
  border-radius: 40px
  cursor: pointer
  width: 23%
  height: 69px
  display: flex
  align-items: center
  justify-content: center

  &--zero
    width: 50%

  &__button
    font-size: 28px
    color: #FFF