.App
    position: relative
    display: flex
    align-items: center
    justify-content: center
    height: 100vh
    background-color: #111

.container
    padding-left: 15px
    padding-right: 15px
    margin-left: auto
    margin-right: auto
    width: 400px

.calculator
    background-color: #252323
    max-width: 420px
    border-radius: 40px

    &__buttons
        max-width: 300px
        margin-left: auto
        margin-right: auto
        padding-bottom: 30px

    &__row
        margin-bottom: 10px
        display: flex
        align-items: center
        justify-content: space-between
        flex-wrap: wrap